
.chatapp {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: 100svh;
    width: 100vw;
    background-image: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.1)), url(sketches-gradient-doodle-logo-wallpaper.jpg);
    background-repeat: repeat-x;
    background-size: 1900px 1000px;
  }
  
  .chatapp ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100vw;
    max-height: 70vh;
    overflow-y: auto;
    padding-left: 0;
  }
  
  .chatapp li {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    margin: 10px;
    width: fit-content;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  }
  
  .chatapp form {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
  
  .chatapp input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .chatapp button[type="submit"] {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .chatapp button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .chatapp li span{
    color: #2b860c;
    font-weight: bold;
  }
